@font-face {
  font-family: roboto;
  src: url(./fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: lobster;
  src: url(./fonts/Lobster-Regular.ttf);
}
@font-face {
  font-family: regular;
  src: url(./fonts/RobotoCondensed-Regular.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(rgb(51, 0, 0, 1), transparent), url(./images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: roboto;
  height: 100vh;
  overflow: hidden;
}
.page{
  margin-inline: 6rem;
  margin-top: 4rem;
}
.top{
  display: flex;
}
.top .tabs{
  flex: 1;
}
.top h1{
  flex: 1;
}
.top .tabs ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .tabs ul a{
  text-decoration: none;
  font-family: regular;
  font-size: 1.3rem;
  color: rgb(170, 170, 170);
}
.top h1{
  color: white;
  font-size: 2rem;
}
.top h1 span{
  color: #ED9B1C;
}
.title h1{
  color: white;
  font-size: 5rem;
}
.title h1 span{
  color: #ED9B1C  ;
}
.title p{
  color: white;
  font-family: regular;
  font-size: 0.9rem;
  margin-block: 3rem;
}
.content{
  margin-block: 7.5rem;
  gap: 12rem;
  display: flex;
}
.title a{
  text-decoration: none;
  color: #ED9B1C;
  font-family: regular;
  border: 3px #ED9B1C solid;
  padding: 5px 40px;
  font-size: 1.5rem;
}
.form{
  border: 3px #ED9B1C solid;
  background-color: rgba(34, 0, 0, 0.7);
}
.form h1{
  font-family: lobster;
  background-color: #ED9B1C;
  padding: 5px 70px;
  font-size: 1.75rem;
  text-align: center;
}
.form button{
  background-color: #ED9B1C;
  text-decoration: none;
  color: #330000;
  font-size: 1.75rem;
  font-family: regular;
  padding: 5px 95px;
  margin: 1.5rem;
}
.form span{
  margin-top: 20rem;
  display: flex;
}
.form button img{
  width: 1.5rem;
}